:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.header {
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-family: var(--font-raleway);
    font-size: 2rem;
    color: var(--color-primary);
    font-weight: 300;
}

.header-nav {
    display: flex;
    gap: 95px;
}

.header-nav-link {
    color: var(--color-grey);
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--font-open-sans);
    font-size: 0.6875rem;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.205rem;
    padding: 28px 2px 23px 2px;
}

.header-nav-link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.opening {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening-content {
    margin-top: 130px;
    text-align: center;
}

.opening-header {
    font-size: 3.0625rem;
    font-family: var(--font-raleway);
}

.opening-text {
    font-size: 1rem;
    font-family: var(--font-raleway);
    margin-top: 20px;
    margin-bottom: 38px;
}

.opening-img {
    width: 100%;
    height: auto;
}

.btn {
    color: white;
    font-family: var(--font-open-sans);
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    background-color: var(--color-primary);
    border-radius: 40px;
    border: none;
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
    padding: 22px 155px;
}

.statistics {
    margin-top: 100px;
}

.statistics-title {
    font-size: 2.25rem;
    font-family: var(--font-raleway);
    text-align: center;
}

.statistics-container {
    margin: 100px auto 120px;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

.statistics-single {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway)
}

.statistic-circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position: relative;
}

.statistics-img {
    position: absolute;
}

.statistics-numbers {
    font-weight: 800;
    font-size: 1.25rem;
    letter-spacing: 0.375rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.statistics-description {
    color: var(--color-grey);
    font-size: 1rem;
}

.statistics-single:nth-child(1) .statistic-circle {
    background-color: var(--color-redish);
}

.statistics-single:nth-child(2) .statistic-circle {
    background-color: var(--color-primary);
}

.statistics-single:nth-child(3) .statistic-circle {
    background-color: var(--color-green);
}
