:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.header {
    height: 70px;
    box-shadow: 0px 3px 6px #00000029;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-family: var(--font-raleway);
    font-size: 2rem;
    color: var(--color-primary);
    font-weight: 300;
}

.header-nav {
    display: flex;
    gap: 95px;
}

.header-nav-link {
    color: var(--color-grey);
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--font-open-sans);
    font-size: 0.6875rem;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.205rem;
    padding: 28px 2px 23px 2px;
}

.header-nav-link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}